page-registrate {
    .letraLink{
        color: $letraLink;
        font-size: 12px;
    }
    .itemLink{
        text-align: center;
    }
    .letraTexto{
        font-size: 12px;    
    }
    ion-title{
        text-align: center;
        color: $letras1 !important;
    }
    
}
