page-detallevento {
    .ioncol-opcimg{
        height: 90px;  
        width: 70px;
//        border: 1px solid $borde1;
        text-align: center;
    }
    .div-opcimg1{
    }
    .div-opcimg1 img{
        height: 25%;  
        width: 25%;        
    }

}
